* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif);
    cursor: grabbing;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(100%);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.container span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    min-width: 70px;
}

.container span::before{
    content: '';
    position: absolute;
    background: url(https://contents.pep.ph/images2/images2/2023/02/21/untitled-design-2023-02-21t134938960-1676958638.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 20s ease-in-out;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    color: blue;
    transform: scale(500%);
    animation-delay: 2s;

}

.container span:hover::before{
    transition: 0s ease-in-out;
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation-delay: 2s;

}


