* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: linear-gradient(45deg, #e66465, #f4ce14);
    
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

.letters {
    perspective: 1000px;

    .letter {
        overflow: hidden;
        display: inline-block;
        user-select: none;
        line-height: 0.8;
        font-size: 8rem;
    
        &.active {
            animation: jump 1.5s ease-in-out;
            transform-origin: bottom left;
        }
    }
}

@keyframes jump {
    0% {
        transform: translate(0,0) rotate(180deg) scale3d(200px);
    }

    25% {
        transform: scale(2) translate(0, -150px) rotate(100%);
    }

    33% {
        text-shadow: 0 60px #f37121, 0 150px #f2aaaa;
      }
      50% {
        transform: translate(0, 0) rotate(-4deg);
        text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
      }
      66.67% {
        text-shadow: 0 60px #d54062, 0 -150px #8fc0a9;
      }
    75% {
        transform: scale(1.1) translate(0, 200px) 
         ;
    }
    100% {
        transform: translate(0,0) rotate(360deg) ;
    }
}

  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffff, 0 0 1.5rem #f4ce10,
      -0.2rem 0.1rem 1rem #b89c10, 0.2rem 0.1rem 1rem #f4ce10,
      0 -0.5rem 2rem #f4ce10, 0 0.5rem 3rem #b89c10;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
    
    }
    28%,
    33% {
      color: #f4ce10;
      text-shadow: none;
    }
    82%,
    97% {
      color: #b89c10;
      text-shadow: none;
    }
  }
  
  @keyframes shine {
    0% {
      color: #b89c10;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;

    }
  }
  