* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f4ce14, gray, black);
    position: relative;
    overflow: hidden;
    cursor: none;
}

.image {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.word {
    color: rgba(196, 196, 196, 0.61);
    font-size: 6rem;
    cursor: pointer;
    transition: color 0.3s, text-shadow 0.5s, font-size 0.5s, text-decoration .40ms;
    position: relative;
    z-index: 3;
}

.word:hover {
    color: #fa0000;
    text-shadow: 20px 10px 30px rgba(255, 56, 56, 0.7);
    font-size: 10rem;
}

@keyframes shimmer {
    0% {
        text-shadow: 0 0 10px rgba(252, 0, 0, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 82, 82, 0.7);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 82, 82, 0.5);
    }
}

.illumination {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient( circle at var(--x) var(--y), transparent -10%, black 80%);
    z-index: 1;
}

.illumination:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: calc(var(--y) - 10px);
    left: calc(var(--x) - 10px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: illumination-pulse 1s infinite ease-out;
}

@keyframes illumination-pulse {
    0%,
    50% {
        transform: translate(-50%, -50%) scale(-1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(-2);
        opacity: 0;
    }
}